
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Brochures</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid"></div>


<script src="~/Scripts/Brochure/Admin.js" language="javascript" type="text/javascript"></script>