@{
    ViewBag.Title = "Admin";
}
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Publishing Houses</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid"></div>


<script src="~/Scripts/PublishingHouse/Admin.js" language="javascript" type="text/javascript"></script>