@{
    ViewBag.Title = "Index";
}

<h2>Publishing Houses</h2>

<div id="grid"></div>


@*@(Html.Kendo().Grid<Library.ViewModels.PublishingHouse.PublishingHouseViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Address);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("PublishingHouses_Read", "PublishingHouse"))
            .PageSize(20)
        )
)*@

<script src="~/Scripts/PublishingHouse/Index.js" language="javascript" type="text/javascript"></script>