@model Library.ViewModels.Magazine.IndexMagazineViewModel

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Magazines</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid<Library.ViewModels.Magazine.MagazineViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Number);
            columns.Bound(c => c.YearOfPublishing);
            columns.Bound(o => o.Name).ClientTemplate(@Html.ActionLink("Edit", "Edit", new { ID = "#=Id#" }).ToHtmlString()).Title("Edit");
            columns.Bound(o => o.Name).ClientTemplate(@Html.ActionLink("Delete", "Delete", new { ID = "#=Id#" }).ToHtmlString()).Title("Delete");
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Magazines_Read", "Magazine"))
            .PageSize(20)
        )
)