@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo().Grid<Library.ViewModels.Book.BookViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Author);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.YearOfPublishing);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Books_Read", "Book"))
            .PageSize(20)
        )
)